
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutMasterPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="using-border py-3">
        <div class="inner_breadcrumb  ml-4">
            <ul class="short_ls">
                <li>
                    <a href="index.html">Home</a>
                    <span>/ /</span>
                </li>
                <li>About</li>
            </ul>
        </div>
    </div>
    <!-- //short-->
    <!-- about -->
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="row">
                <div class="col-lg-8 col-md-6 text-right about-two-grids">
                    <h3 class="title  mb-md-4 mb-sm-3 mb-3"># About <span>Fashion</span></h3>
                    <div class="about-para-txt">
                        <p>Online </p>
                        <p class="mt-2">Digital Fashion Services</p>
                    </div>Fashion Portal
                    <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
                        <a href="#" class=" scroll">Read More</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 about-imgs-txt">
                    <img src="../Content/images/ab2.jpg" alt="news image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <br />
    <br />
    <br />
    <br />
    <br />
</center>

